In [1]:
#1   ALL clean data is merged into a dataframe known as the training dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_wellfake=pd.read_csv(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\dataset\WELFake_Dataset.csv")
print(df_wellfake.shape)
print(df_wellfake.info())
print(df_wellfake.describe())
print(df_wellfake.columns)


df_wellfake=df_wellfake.drop_duplicates(subset=["title"])

dups=df_wellfake[df_wellfake.duplicated(subset=['text'])]

df_wellfake=df_wellfake.drop(dups.index)

df_wellfake.dropna(axis=0,inplace=True)

print('_______________________________________________________________')
print(df_wellfake.shape)
print(df_wellfake.info())
print(df_wellfake.describe())
print(df_wellfake.columns)

df_wellfake.to_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Datasets_Loaded\Well_data.parquet")

(72134, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72134 non-null  int64
 1   title       71576 non-null  object
 2   text        72095 non-null  object
 3   label       72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB
None
         Unnamed: 0         label
count  72134.000000  72134.000000
mean   36066.500000      0.514404
std    20823.436496      0.499796
min        0.000000      0.000000
25%    18033.250000      0.000000
50%    36066.500000      1.000000
75%    54099.750000      1.000000
max    72133.000000      1.000000
Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')
_______________________________________________________________
(61393, 4)
<class 'pandas.core.frame.DataFrame'>
Index: 61393 entries, 0 to 72132
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  61393 non-null  int64
 1   title       61393 non-null  object
 2   text        61393 non-null  object
 3   label       61393 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.3+ MB
None
         Unnamed: 0         label
count  61393.000000  61393.000000
mean   34332.101933      0.442331
std    20789.958147      0.496667
min        0.000000      0.000000
25%    16150.000000      0.000000
50%    33483.000000      0.000000
75%    52054.000000      1.000000
max    72132.000000      1.000000
Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [4]:
df_wellfake.duplicated(subset=['text', 'title']).sum()

0

In [5]:
df_horn=pd.read_csv(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\dataset\Horn_data.csv")
print(df_horn.isna().sum())
df_horn=df_horn.fillna(0)
print(df_horn.shape)
print(df_horn.info())
print(df_horn.describe())
print(df_horn.columns)
df_horn.to_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Datasets_Loaded\Horn_data.parquet")

Unnamed: 0     0
Title          0
Content        0
Label         75
ID             0
dtype: int64
(326, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  326 non-null    int64
 1   Title       326 non-null    object
 2   Content     326 non-null    object
 3   Label       326 non-null    float64
 4   ID          326 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 12.9+ KB
None
       Unnamed: 0       Label          ID
count  326.000000  326.000000  326.000000
mean   162.500000    0.392638  163.500000
std     94.252321    0.489088   94.252321
min      0.000000    0.000000    1.000000
25%     81.250000    0.000000   82.250000
50%    162.500000    0.000000  163.500000
75%    243.750000    1.000000  244.750000
max    325.000000    1.000000  326.000000
Index(['Unnamed: 0', 'Title', 'Content', 'Label', 'ID'], dtype='object')

In [6]:
ukt=pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\New_Datasets_For_Final\945z9xkc8d-1\Fake News Dataset\Fake News Dataset\ukt_train.parquet")
ISOT=pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\New_Datasets_For_Final\945z9xkc8d-1\Fake News Dataset\Fake News Dataset\ISOT_train.parquet")
jru=pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\New_Datasets_For_Final\945z9xkc8d-1\Fake News Dataset\Fake News Dataset\jru_train.parquet")
mc=pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\New_Datasets_For_Final\945z9xkc8d-1\Fake News Dataset\Fake News Dataset\mc_train.parquet")
td=pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\New_Datasets_For_Final\945z9xkc8d-1\Fake News Dataset\Fake News Dataset\twitter_data.parquet")

In [7]:
td=td.rename(columns={'target':'label'})
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7613 non-null   int64
 1   text    7613 non-null   object
 2   label   7613 non-null   int64
dtypes: int64(2), object(1)
memory usage: 178.6+ KB

In [8]:
df_horn_subset = df_horn[[ 'Title', 'Content','Label']].rename(columns={'Title':'title','Content':'text','Label':'label',})


df_wellfake_subset = df_wellfake[[ 'title', 'text', 'label']]


df = pd.concat([ df_horn_subset, df_wellfake_subset,ukt,ISOT,jru,mc,td], ignore_index=True)
df.drop(columns=['title'],inplace=True)

df=df.reset_index(drop=True)




print(df.shape)
print(df.columns)
print(df.info())
print(df.describe())

(126483, 3)
Index(['text', 'label', 'id'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126483 entries, 0 to 126482
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    126483 non-null  object
 1   label   126483 non-null  float64
 2   id      7613 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.9+ MB
None
               label            id
count  126483.000000   7613.000000
mean        0.480934   5441.934848
std         0.499638   3137.116090
min         0.000000      1.000000
25%         0.000000   2734.000000
50%         0.000000   5408.000000
75%         1.000000   8146.000000
max         1.000000  10873.000000

In [9]:
df.drop_duplicates(subset=['text'],keep='first',inplace=True)
df[df.duplicated(subset=['text'])]

Empty DataFrame
Columns: [text, label, id]
Index: []

In [10]:
#Merge datasets
df.to_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Dataset_Merged_BackUp\Data_merged.parquet")

In [12]:
df.shape

(124754, 3)