In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:

df= pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Dataset_Merged_BackUp\ForModeling_test.parquet")
df.shape
df_BOW=pd.read_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Dataset_Merged_BackUp\ForModeling_BagofWords_test.parquet")

df_BOW=df_BOW.sample(frac=1,random_state=42)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14583 entries, 11525 to 7270
Columns: 1013 entries, text to BOW_young
dtypes: float64(5), int32(2), int64(1004), object(2)
memory usage: 112.7+ MB

In [4]:
df_new_features=df_BOW
df_new_features.shape

(14583, 1013)

In [5]:

df_new_features.iloc[:, :-1000].describe()

,label,word_count,avg_sentence_length,text_punctuation_frequency,text_capitalization_frequency,text_before_character_removal,text_after_character_removal,subjectivity_text,text_sentiment,text_reading_ease,text_lexical_diversity
count,14583.000000,14583.000000,14583.000000,14583.0,14583.0,14583.000000,14583.000000,14583.000000,14583.000000,14583.000000,14583.000000
mean,0.500240,310.965028,310.965028,0.0,0.0,2204.873277,2204.873277,0.376956,-0.024121,-243.967627,0.669949
std,0.500017,350.019227,350.019227,0.0,0.0,2459.186390,2459.186390,0.135305,0.826701,355.208558,0.098977
min,0.000000,1.000000,1.000000,0.0,0.0,3.000000,3.000000,0.000000,-1.000000,-12021.920000,0.191181
25%,0.000000,139.000000,139.000000,0.0,0.0,986.000000,986.000000,0.305300,-0.932500,-322.350000,0.608519
50%,1.000000,236.000000,236.000000,0.0,0.0,1679.000000,1679.000000,0.380158,0.000000,-168.070000,0.664865
75%,1.000000,387.000000,387.000000,0.0,0.0,2756.000000,2756.000000,0.451445,0.900100,-69.620000,0.722222
max,1.000000,11936.000000,11936.000000,0.0,0.0,77745.000000,77745.000000,1.000000,1.000000,121.220000,1.000000

In [6]:
df_new_features.shape

(14583, 1013)

In [7]:

df_drop=df_new_features
df_drop.shape

(14583, 1013)

columns_to_exclude = ['text', 'label', 'id', 'text_processed']

# Iterate over columns except those to be excluded
for column in df_drop.iloc[:, :-1000].columns:
    if column not in columns_to_exclude:
        # Calculate quartiles
        q1 = df_drop[column].quantile(0.25)
        q3 = df_drop[column].quantile(0.75)
        iqr = q3 - q1

        # Define limits for outliers
        lower_limit = q1 - 3 * iqr
        upper_limit = q3 + 3 * iqr

        # Filter outliers and create a new DataFrame without outliers
        df_drop = df_drop[(df_drop[column] >= lower_limit) & (df_drop[column] <= upper_limit)]

In [8]:
df_drop.shape

(14583, 1013)

In [9]:
df_new_features=df_drop

In [10]:
df_new_features.shape

(14583, 1013)

In [11]:
df_new_features.to_parquet(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Dataset_Merged_BackUp\ForModeling_test.parquet")
df_new_features_2=df_new_features.iloc[:, :-1000]
df_new_features_2.to_csv(r"C:\Users\brand\UNISA_Honour_Fake_News_Program\Dataset_Merged_BackUp\Tableau_test.csv")

df_new_features_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14583 entries, 11525 to 7270
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   text                           14583 non-null  object
 1   label                          14583 non-null  int64
 2   word_count                     14583 non-null  int32
 3   avg_sentence_length            14583 non-null  float64
 4   text_punctuation_frequency     14583 non-null  int64
 5   text_capitalization_frequency  14583 non-null  int32
 6   text_before_character_removal  14583 non-null  int64
 7   text_after_character_removal   14583 non-null  int64
 8   text_processed                 14583 non-null  object
 9   subjectivity_text              14583 non-null  float64
 10  text_sentiment                 14583 non-null  float64
 11  text_reading_ease              14583 non-null  float64
 12  text_lexical_diversity         14583 non-null  float64
dtypes: float64(5), int32(2), int64(4), object(2)
memory usage: 1.4+ MB